<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills & Certifications</title>
</head>
<body>
    <div id="main menu">
        <a href="/index.html">HOME</a>
        <a href="./Skills & Certification.html">SKILLS & CERTIFICATION</a>
        <a href="./Qualification.html">QUALIFICATION</a>
        <a href="./Projects & Experience.html">PROJECTS & EXPERIENCE</a>
        <a href="./Connect With Me.html">CONNECT WITH ME</a>
    </div>

</body>
</html>