<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills & Certifications</title>
</head>
<body>
    <div id="mainmenu">
        <a href="../index.html">HOME</a>
        <a href="./skills-certification.html">SKILLS & CERTIFICATION</a>
        <a href="./qualification.html">QUALIFICATION</a>
        <a href="./projects-experience.html">PROJECTS & EXPERIENCE</a>
        <a href="./connect-with-me.html">CONNECT WITH ME</a>
    </div>

</body>
</html>