<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills & Certifications</title>
</head>
<body>
    <div id="mainmenu">
        <a href="/index.html">HOME</a>
        <a href="./Skills & Certification.html">SKILLS & CERTIFICATION</a>
        <a href="./Qualification.html">QUALIFICATION</a>
        <a href="./Projects & Experience.html">PROJECTS & EXPERIENCE</a>
        <a href="./Connect With Me.html">CONNECT WITH ME</a>
    </div>

    <div class="projects">
        <div id="project1">
            <p>Project 1</p>
            <div class="ProjectDemo">
                <video src="#" class="DemoVideo"></video>
                <img src="#" alt="Demo Image 1" class="DemoImage">
                <img src="#" alt="Demo Image 2" class="DemoImage">
                <img src="#" alt="Demo Image 3" class="DemoImage">
            </div>
        </div>
        <div id="project2">
            <p>Project 2</p>
        </div>
    </div>
</body>
</html>