<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills & Certifications</title>
</head>
<body>
    <div id="mainmenu">
        <a href="../index.html">HOME</a>
        <a href="./skills-certification.html">SKILLS & CERTIFICATION</a>
        <a href="./qualification.html">QUALIFICATION</a>
        <a href="./projects-experience.html">PROJECTS & EXPERIENCE</a>
        <a href="./connect-with-me.html">CONNECT WITH ME</a>
    </div>

    <table id="qualification">
        <caption>
            <h1>MY Qualification</h1>
        </caption>
        <thead class="head">
            <tr id="headding">
                <th>S.No</th>
                <th>Qualification</th>
                <th>Organization</th>
                <th>Passing year</th>
                <th>Percentage/CGPA</th>
                <th>Score card</th>
            </tr>
        </thead>
        <tbody>
            <tr id="1row">
                <td>1</td>
                <td>B.Tech (CSE with Specialization in AI & ML)</td>
                <td>Rayat Bhara University, Sunstone</td>
                <td>2028</td>
                <td>YTA</td>
                <td>YTA</td>
            </tr>
            <tr id="2row">
                <td>2</td>
                <td>JEE Mains</td>
                <td>National Testing Agency (NTA)</td>
                <td>2024</td>
                <td>86.2%ile</td>
                <td><a href="#">View Score Card</a></td>
            </tr>
            <tr id="3row">
                <td>3</td>
                <td>10+2</td>
                <td>Central Board of Secandory Education (CBSE)</td>
                <td>2024</td>
                <td>66.2%</td>
                <td><a href="#">View Score Card</a></td>
            </tr>
            <tr id="4row">
                <td>4</td>
                <td>10 (Matrix)</td>
                <td>Central Board of Secandory Education (CBSE)</td>
                <td>2022</td>
                <td>86.4%</td>
                <td><a href="#">View Score Card</a></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div id="MyJourney">
        <p>MY JOURNEY</p>
    </div>
</body>
</html>