<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills & Certifications</title>
</head>

<body>
    <div id="mainmenu">
        <a href="/index.html">HOME</a>
        <a href="./Skills & Certification.html">SKILLS & CERTIFICATION</a>
        <a href="./Qualification.html">QUALIFICATION</a>
        <a href="./Projects & Experience.html">PROJECTS & EXPERIENCE</a>
        <a href="./Connect With Me.html">CONNECT WITH ME</a>
    </div>

    <div id="main-container">
        <ul>
            <li class="Skills" id="skill1">
                <h2>Skill Title</h2>
                <p>Skill Explaination</p>
                <a href="#">Skill Certifications</a>
                <hr>
            </li>
            <li class="Skills" id="skill2">
                <h2>Skill Title</h2>
                <p>Skill Explaination</p>
                <a href="#">Skill Certification</a>
                <hr>
            </li>
            <li class="Skills" id="skill3">
                <h2>Skill Title</h2>
                <p>Skill Explaination</p>
                <a href="#">Skill Certification</a>
                <hr>
            </li>
        </ul>
    </div>
</body>

</html>